#menu{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#details_form_regleta{
	display: none;
}
#details_form_gradual{
	display: none;
}

h4.title_form{
    margin-bottom: 0.7em;
}